{
    "extends": [
      "react-app",
      "react-app/jest"
    ],
    "rules": {
      "indent": [
        "error",
        2,
        {
          "SwitchCase": 1
        }
      ],
      "quotes": [
        "error",
        "single"
      ],
      "jsx-quotes": [
        "error",
        "prefer-double"
      ],
      "semi": [
        "error",
        "always"
      ],
      "no-multi-spaces": [
        "error"
      ]
    }
  }