// screen sizes
$lg: 1150px;
$md: 992px;
$sm: 500px;

// font weight
$fw-lg: 700;
$fw-md: 500;
$fw-sm: 400;

// colors
$bg-clear-white: #FFFFFF;
$bg-white: #F5F5F5;
$bg-black: #27251F;
$bg-rose: #FFCAD4;
$bg-grey: #71706C;