@font-face {
    font-family: 'Pan Display';
    font-weight: 400;
    src: url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.eot);
    src:
        url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.eot?#iefix) format("embedded-opentype"),
        url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.otf) format("otf"),
        url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.ttf) format("truetype"),
        url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.woff) format("woff"),
        url(../../assets/fonts/panDisplay/regular/PanDisplay-Regular.woff2) format("woff2");
}

@font-face {
    font-family: 'Pan Display';
    font-weight: 700;
    src: url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.eot);
    src:
        url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.eot?#iefix) format("embedded-opentype"),
        url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.otf) format("otf"),
        url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.ttf) format("truetype"),
        url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.woff) format("woff"),
        url(../../assets/fonts/panDisplay/bold/PanDisplay-Bold.woff2) format("woff2");
}

@font-face {
    font-family: 'Gill Sans Nova';
    font-weight: 500;
    src: url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.eot);
    src:
        url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.eot?#iefix) format("embedded-opentype"),
        url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.otf) format("otf"),
        url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.ttf) format("truetype"),
        url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.woff) format("woff"),
        url(../../assets/fonts/gillSansNova/medium/Gill-Sans-Nova-Medium.woff2) format("woff2");
}